.row
  .large-12.columns
    .row
      .large-12.columns
        .panel
          .row
            -foreach ($servers as $server)
              %strong=$server->name
              %hr
              .column
                Adresa k hráčům:
                -echo $this->link_tag($server->url)
              .column
                -echo $this->link_tag('Upravit server', '#')
                -echo $this->link_tag('Smazat server', '#')
    %row
      .large-8.columns
        -echo $this->link_tag('Přidat server', '#')
