!!! 5
%html
  %head
    %meta{'charset' => 'utf-8'}
    %title="Mapa hráčů".(@$title ? " - $title" : '')
    -$this->include_stylesheet('{normalize,foundation}')
    -$this->include_stylesheet('styles')
    
  %body
    -echo $this->yield()
    -$this->include_javascript('modernizr')
    -$this->include_javascript('jquery')
    -$this->include_javascript('foundation.min')
    :javascript
      jQuery(document).foundation();
