.row
  .large-12.columns

    -// Navigace!
    .row
      .large-12.columns
        %nav.top-bar{'data-topbar' => true}
          %ul.title-area
            %li.name
              %h1
                -echo $this->link_to("Administrace", 'admin_index')
            %li.toggle-topbar.menu-icon
              %a{'href' => $router->generate('admin_index')}
                %span Menu

          %section.top-bar-section
            %ul.right
              %li
                -echo $this->link_to('Mapa', 'root')
              %li.divider

    =$this->yield()
